<div class="title">
  <h1><b>Lista de medicos</b></h1>
</div>

<div>
  <table>
    <thead>
      <tr>
        <td><b>Nome</b></td>
        <td><b>Data de Cadastro</b></td>
        <td><b>Especialidade</b></td>
        <td><b>Ações</b></td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let medico of listaMedicos">
        <td>{{ medico.nome }}</td>
        <td>{{ medico.dataCadastro }}</td>
        <td>{{ listaEspecialidades[medico.idEspecialidade - 1].nome }}</td>
        <td>
          <button class="btnPerfil" (click)="exibirModalDetalhes(medico)">
            Exibir
          </button>
          <button class="btnEditar" (click)="exibirModalEditar(medico)">
            Atualizar
          </button>
          <button class="btnDeletar" (click)="removeDoctor(medico.id)">
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-container *ngIf="isModalDetalhesOpen">
  <app-modal-exibe-medico
    (onClose)="isModalDetalhesOpen = false"
    [medico]="medicoSelecionado"
  ></app-modal-exibe-medico>
</ng-container>

<ng-container *ngIf="isModalEditarOpen">
  <app-modal-edita-medico
    (onClose)="isModalEditarOpen = false"
    [medico]="medicoSelecionado"
    (atualizaChild)="atualiza()"
  ></app-modal-edita-medico>
</ng-container>
