<div>
  <h1><b>Cadastro</b></h1>

  <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    <label for="email"
      >E-mail
      <input
        class="input is-primary"
        id="email"
        type="email"
        formControlName="email"
    /></label>

    <label for="senha"
      >Senha
      <input
        class="input is-primary"
        id="senha"
        type="password"
        formControlName="senha"
    /></label>

    <button class="button" type="submit">Cadastrar</button>
  </form>
</div>
