<div>
  <h1><b>Cadastro</b></h1>

  <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    <label for="email"
      >E-mail
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass]="
          this.formCadastro.get('email')?.valid
            ? 'input is-success'
            : 'input is-danger'
        "
    /></label>

    <label for="senha"
      >Senha
      <input
        id="senha"
        type="password"
        formControlName="senha"
        [ngClass]="
          this.formCadastro.get('senha')?.valid
            ? 'input is-success'
            : 'input is-danger'
        "
    /></label>

    <button class="button" type="submit">Cadastrar</button>
  </form>
</div>
