<div>
  <h1><b>Editar Médico</b></h1>

  <form [formGroup]="formEditarMedico">
    <label for="nome"
      >Nome
      <input
        class="input is-primary"
        id="nome"
        type="text"
        formControlName="nome"
    /></label>

    <label class="especialidadeLabel" for="dataNascimento"
      >Especialidade
      <div class="select">
        <select formControlName="idEspecialidade">
          <ng-container>
            <option>especialidade</option>
          </ng-container>
        </select>
      </div></label
    >

    <button class="button" type="submit">Editar</button>
  </form>
</div>
