<div class="container">
  <h1><b>Cadastrar Médico</b></h1>

  <form [formGroup]="formCadastroMedico" (ngSubmit)="onSubmit()">
    <label class="nomeLabel" for="nome"
      >Nome
      <input
        class="input is-primary"
        id="nome"
        type="text"
        formControlName="nome"
    /></label>

    <label class="especialidadeLabel" for="dataNascimento"
      >Especialidade
      <div class="select">
        <select formControlName="idEspecialidade">
          <ng-container *ngFor="let especialidade of listaEspecialidades">
            <option value="{{ especialidade.id }}">
              {{ especialidade.nome }}
            </option>
          </ng-container>
        </select>
      </div></label
    >

    <button class="button" type="submit">Cadastrar</button>
  </form>
</div>
