<div class="modal is-active" id="modalContainer">
    <div class="modal-background" (click)="cancel()"></div>
    <div class="modal-content">
      <div class="modal-card">
        <section class="modal-card-body">
          <form [formGroup]="formEditarMedico" (ngSubmit)="onSubmit()">
            <label for="nome"
              >Nome
              <input
                class="input is-primary"
                id="nome"
                type="text"
                formControlName="nome"
            /></label>
        
            <label class="especialidadeLabel" for="dataNascimento"
              >Especialidade
              <div class="select">
                <select formControlName="idEspecialidade">
                  <ng-container *ngFor="let especialidade of listaEspecialidades">
                    <option value="{{ especialidade.id }}">
                      {{ especialidade.nome }}
                    </option>
                  </ng-container>
                </select>
              </div></label
            >
            <button class="button" type="submit">Editar</button>
          </form>
        </section>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="cancel()"
    ></button>
  </div>
  