<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <img src="../../assets/clinicaIcon.png" />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Pacientes</a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/listpatients">Listar</a>
          <a class="navbar-item" routerLink="/registerpatient">Cadastrar</a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Médicos</a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/listdoctors">Listar</a>
          <a class="navbar-item" routerLink="/registerdoctor">Cadastrar</a>
        </div>
      </div>

      <a class="navbar-item">Adicionar Consulta</a>
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary" *ngIf="!authorized" routerLink="/register">
          <strong>Cadastrar</strong>
        </a>
        <a class="button is-light" *ngIf="!authorized" routerLink="/login">Log in</a>
        <button class="button is-light" *ngIf="authorized" (click)="logout()">Log out</button>
      </div>
    </div>
  </div>
</nav>
