<div class="container">
  <h1><b>Cadastrar Consulta</b></h1>

  <form [formGroup]="formCadastroConsulta" (ngSubmit)="onSubmit()">
    <label class="medicoLabel" for="medico"
      >Médico
      <div class="select">
        <select formControlName="idMedico">
          <ng-container *ngFor="let doctor of listaMedicos">
            <option value="{{ doctor.id }}"> {{ doctor.nome }} </option>
          </ng-container>
        </select></div
    ></label>

    <label class="pacienteLabel" for="dataNascimento"
      >Paciente
      <div class="select">
        <select formControlName="idPaciente">
          <ng-container *ngFor="let patient of listaPacientes">
            <option value="{{ patient.id }}">{{ patient.nome }}</option>
          </ng-container>
        </select></div
    ></label>

    <label class="label" for="dataConsulta"
      >Data da consulta
      <input
        class="input is-primary"
        id="dataConsulta"
        type="date"
        formControlName="dataConsulta"
    /></label>

    <label class="label" for="horaConsulta"
      >Hora da consulta
      <input
        class="input is-primary"
        id="horaConsulta"
        type="time"
        formControlName="horaConsulta"
    /></label>

    <button class="button" type="submit">Cadastrar</button>
  </form>
</div>
