<div class="container">
  <h1><b>Cadastrar Consulta</b></h1>

  <form [formGroup]="formCadastroConsulta" (ngSubmit)="onSubmit()">
    <label class="medicoLabel" for="medico"
      >Médico
      <div class="select">
        <select formControlName="idMedico">
          <ng-container *ngFor="let doctor of listaMedicos">
            <option value="{{ doctor.id }}">{{ doctor.nome }}</option>
          </ng-container>
        </select>
      </div></label
    >

    <label class="pacienteLabel" for="dataNascimento"
      >Paciente
      <div class="select">
        <select formControlName="idPaciente">
          <ng-container *ngFor="let patient of listaPacientes">
            <option value="{{ patient.id }}">{{ patient.nome }}</option>
          </ng-container>
        </select>
      </div></label
    >

    <label class="label" for="dataConsulta"
      >Data da consulta
      <input
        id="dataConsulta"
        type="date"
        formControlName="dataConsulta"
        [ngClass]="
          this.formCadastroConsulta.get('dataConsulta')?.valid
            ? 'input is-success'
            : 'input is-danger'
        "
    /></label>

    <label class="label" for="horaConsulta"
      >Hora da consulta
      <input
        id="horaConsulta"
        type="time"
        formControlName="horaConsulta"
        [ngClass]="
          this.formCadastroConsulta.get('horaConsulta')?.valid
            ? 'input is-success'
            : 'input is-danger'
        "
    /></label>

    <button class="button is-primary" type="submit">Cadastrar</button>
  </form>
</div>
