<div>
  <h1><b>Cadastrar Paciente</b></h1>

  <form [formGroup]="formCadastroPaciente" (ngSubmit)="onSubmit()">
    <label for="nome"
      >Nome
      <input
        id="nome"
        type="text"
        formControlName="nome"
        [ngClass]="
          this.formCadastroPaciente.get('nome')?.valid
            ? 'input is-success'
            : 'input is-danger'
        "
    /></label>

    <label for="dataNascimento"
      >Data de Nascimento
      <input
        class="input is-primary"
        id="dataNascimento"
        type="date"
        formControlName="dataNascimento"
    /></label>

    <button class="button" type="submit">Cadastrar</button>
  </form>
</div>
